---
import { getLangFromUrl, useTranslations } from "../../i18n/utils.ts";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<main class="relative overflow-hidden">
  <div class="relative mx-auto px-8 max-w-7xl py-24 md:px-12">
    <div class="mx-auto text-center">
      <h1
        class="text-sage-500 font-bold text-4xl md:text-5xl lg:text-6xl tracking-tight"
      >
        {t("hello")}<span class="block">{t("description")}</span>
      </h1>
    </div>
  </div>
</main>
