---
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/global/Footer.astro";
---

<html lang="en">
  <head>
    <script>
      import { getBrowserLocales } from "../i18n/utils.ts";
      const locale = getBrowserLocales()?.[0];

      if (locale != null && location.pathname !== `/${locale}`) {
        location.replace(`/${locale}`);
      }
    </script>
    <BaseHead />
  </head>

  <body class="bg-olive-500">
    <slot />
    <Footer />
  </body>
</html>
