---
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/global/Footer.astro";
---

<html lang="en">
  <head>
    <script>
      import { getBrowserLocales } from "../i18n/utils.ts";
      const path = `/${getBrowserLocales()?.[0] ?? ""}`;

      if (location.pathname !== path) location.assign(path);
    </script>
    <BaseHead />
  </head>

  <body class="bg-olive-500">
    <slot />
    <Footer />
  </body>
</html>
