---
const { text, link, source, className } = Astro.props;
---

<div class:list={["flex justify-center", className]}>
  <a
    href={link}
    class="map aspect-square h-full w-full max-w-80 max-h-80 hover:underline underline-offset-4 cursor-pointer text-sage-300"
    target="_blank"
    rel="noopener noreferrer"
  >
    <div
      class="h-full w-full rounded-full relative overflow-hidden pointer-events-none shadow-2xl border-3 border-dashed bg-sage-200/25"
    >
      <iframe
        class="w-[200%] h-[200%] absolute -left-2/4 -bottom-2/4 pointer-events-none opacity-85"
        allowfullscreen
        referrerpolicy="no-referrer-when-downgrade"
        src={source}></iframe>
    </div>

    <span class="block mt-3 pt-3 text-xl font-medium leading-6">{text}</span>
  </a>
</div>
