---
interface Props {
  images: string[];
  duration?: string;
}

const { images } = Astro.props;
---

<div class="slider pt-24 overflow-hidden">
  <div class="slides flex w-max">
    {
      images
        .concat(images)
        .map((img) => (
          <img
            class="slide w-screen max-w-xs sm:max-w-sm md:max-w-md xl:max-w-lg aspect-square object-cover mr-5 rounded-4xl pointer-events-none select-none"
            src={img}
          />
        ))
    }
  </div>
</div>

<style>
  .slides {
    animation: slider-slide-left 180s linear infinite;
  }

  @keyframes slider-slide-left {
    100% {
      transform: translateX(-50%);
    }
  }
</style>
